@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";

body {
  font-size: 16px;
}

.SideBar {
  width: 15vw;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {

}

.AboutPage {

}

.ClothingPage, .ActivewearPage, .AccessoriesPage, .SalePage {
  img {
    width: 200px;
    height: auto;
  }
  .item-name, .item-price {
    font-size: 14px;
  }
  .products-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-container {
    height: auto;
    width: 200px;
    border: 1px solid red;
    margin: 10px;
  }
}

.AppPage {

}
